
    <wrapper class="secondary">
      <container style="background-color:#f3f3f3">
      <row>
        <columns>
          <td id="footerEdit" class="text-right mktEditable" style="padding:20px;">
            <p><small>
              We take privacy very seriously, and it is our <a href="http://www.momsmeet.com/privacy-policy/" target="_blank" style="font-family: Arial, Helvetica, sans-serif; color: #3399cc; text-decoration: underline;">policy</a> never to send unwanted email messages. You were sent this message because you previously expressed interest in Moms Meet and/or natural and organic products and promotions. If this is incorrect, please accept our apologies.<br> <br> If you no longer wish to receive these emails, you may <a href="http://info.kiwimagonline.com/Email-Preferences-Manage.html" target="_blank" style="color: #3399cc; text-decoration: underline;">manage your email preferences</a> at any time.<br> <br> @2017. May Media Group LLC. All rights reserved<br> May Media Group 104 Centre Blvd, Suite A, Marlton, NJ 08053 United States 856-753-3800</span>
            </small></p>
          </td>
        </columns>
</row>
</container>
      </wrapper>
