<row>
<columns>
  <td id="teaseredit" class="mktoText" mktoName="Teaser" style="font-size: 10px; color: #666666;">
    {{teaser}}
  </td>
</columns>
</row>
<row>
  <columns small="6">
    <td id="viewwebpagelink" class="mktoText" mktoName="View As Web Page link">
      <a href="\{{system.viewAsWebpageLink}}" target="_blank" style="font-size: 10px; color: #666666; text-decoration: underline;">View web version.</a>
    </td>
  </columns>
  <columns  small="6">
    <td id="forwardLinkedit" class="text-right mktoText" mktoName="Forward link" >
      <p class="text-right">
        <img class="fwd_envelope" src="http://www.kiwimagonline.com/EmailBlasts/fwd_envelope.jpg" width="18" height="14" alt="Forward to a friend" style="border: 0;display:inline" />&nbsp;
        <a href="\{{system.forwardToFriendLink}}" target="_blank" style="font-size: 10px; line-height: 10px; color: #666666; text-decoration: underline;">Forward to a friend</a>
      </p>
    </td>
  </columns>
</row>
